{% extends "base.html" %}
{% block styles %}
    {{super()}}
    <style>
        .form-signin {
            text-align: center;
            width: 20%;
            margin:auto;
        }
        .foot{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
{% endblock %}

{% block page_content %}
{% if api_error %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
{% endif %}

<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Créer votre compte</h2>
    <label for="username" class="sr-only">Username :</label>
    <input type="text" name="username" class="form-control" placeholder="Username"><br>
    <label for="id" class="sr-only">ID : </label>
    <input type="text" name="id" class="form-control" placeholder="ID"><br>
    <label for="password" class="sr-only">Mot de passe :</label>
    <input type="password" name="password" class="form-control" placeholder="Mot de passe"><br>
    <label for="password" class="sr-only"></label>
    <input type="password" name="passwordconfirm" class="form-control" placeholder="Confirmer votre mot de passe"></input><br>
    <label for="register" class="sr-only"></label>
    <button class="btn" id="register" class="btn btn-lg btn-primary btn-block" >Valider</button>        
</form>
{% endblock %}
