{% extends "base.html" %}

{% block page_content %}
{% if api_error %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ msg }}
    </div>
{% endif %}

<form class="form-signin" action="{{ url_for('auth.login') }}" method="post">
    <h2 class="form-signin-heading">Se connecter votre compte</h2>
    <label for="username" class="sr-only">Username : </label>
    <input type="text" name="username" class="form-control" placeholder="Username"><br>
    <label for="id" class="sr-only">ID : </label>
    <input type="text" name="id" class="form-control" placeholder="ID"><br>
    <label for="password" class="sr-only">Mot de passe : </label>
    <input type="password" name="password" class="form-control" placeholder="Password"><br>
    <label for="login" class="sr-only"></label>
    <button class="btn" id="login">Se connecter</button>        
</form>
{% endblock %}

